<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SUCCESS</title>
</head>
<body>
    <h1>Well done, Wes</h1>
    <form action="/" method="post">
        <label for="nome">Nome:</label>
        <input type="text" name="nome">
        <input type="submit" value="cadastrar">
    </form>
    <ul>
    <% alunos.forEach((aluno)=>{ %>
        <li>Aluno: <%= aluno.nome %></li>
    <% }); %>
    </ul>
</body>
</html>